<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav>
      <ul>
         <li><a href="/">Inicio</a></li>
         <li><a href="/mapas/basico">Mapa básico</a></li>
         <li><a href="/restaurantes/lista">Listado de restaurantes (mapa)</a></li>
         <li><a href="/restaurantes/crear">Crear restaurante</a></li>
         <li><a href="/api/restaurants">Listado de restaurantes (json)</a></li>
      </ul>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>