<div id="myMap"></div>


{{!-- Scrips para la gestión del mapa en la vista --}}

<script src="/js/directions.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=__________KEY__________&callback=initMap"></script>