<h1>Listado de restaurantes</h1>

<div id="restaurantsList"></div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/restaurants-map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=__________KEY__________&callback=initMap"></script>